<div class="alert alert-primary status" role="alert" *ngIf="status === ClientState.Connected">
  <i class="fa fa-spinner fa-spin"></i> Esperando coordenadas
</div>

<div class="status" *ngIf="status === ClientState.Receiving">
  <div class="alert alert-success" role="alert">
    <i class="fa fa-plug" aria-hidden="true"></i> Recebendo coordenadas
    <button class="btn btn-success btn-sm" type="button" (click)="disconnect()">Desconectar</button>
  </div>
</div>

<div class="status" *ngIf="status === ClientState.Disconnected">
  <div class="alert alert-danger" role="alert">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Servidor indisponível
    <button class="btn btn-danger btn-sm" type="button" (click)="connect()">Conectar</button>
  </div>
</div>
