<div class="jumbotron" style="height: calc(100% - 60px); margin-bottom: 0">
  <h1 class="display-4">CarTracker</h1>
  <p class="lead">Interface Web do Trabalho de Conclusão do Curso de Bacharelado em Ciência da Computação pela Universidade Federal do Rio de Janeiro</p>
  <hr class="my-4">
  <p>
    <strong>Autores:</strong> Guilherme Gobbi & Marcus Vinícius
  </p>
  <p>
    <strong>Orientadora:</strong> Profª Silvana Rossetto
  </p>
</div>
