<nav class="navbar navbar-expand-md navbar-light bg-light static-top border-bottom" role="navigation">
  <a class="navbar-brand" [routerLink]="['/']">CarTracker</a>
  <button class="navbar-toggler" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" aria-expanded="false" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div [ngbCollapse]="isNavbarCollapsed" id="navbarsExampleDefault" [@collapse]="isNavbarCollapsedAnim" class="navbar-collapse collapse navbar-toggleable">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="route === ''">
        <a class="nav-link" [routerLink]="['/']">Rastreio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [class.active]="route === '/historico'">
        <a class="nav-link" [routerLink]="['/historico']">Histórico</a>
      </li>
      <li class="nav-item" [class.active]="route === '/sobre'">
        <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="route === ''" [formGroup]="form">
      <label *ngIf="form.controls['requestInterval'].invalid && (form.controls['requestInterval'].dirty || form.controls['requestInterval'].touched)" class="alert alert-danger form-control mr-sm-2">O valor deve ser um número maior que 1</label>
      <input #requestIntervalInSecondsFormInput [value]="requestIntervalInSecondsInput" class="form-control mr-sm-2" type="text" placeholder="{{requestIntervalInSeconds}} segundos" aria-label="Intervalo de requisições" (focus)="showRequestInterval()" formControlName="requestInterval">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="updateRequestInterval(requestIntervalInSecondsFormInput.value)" [disabled]="!form.valid">Atualizar tempo entre requisições</button>
    </form>
  </div>
</nav>
