<div class="date-range">
  <p-calendar [(ngModel)]="start" showTime="true" hourFormat="24" [locale]="br" placeholder="Data/hora de inicio" dateFormat="dd/mm/yy"></p-calendar>
  <p-calendar [(ngModel)]="end" showTime="true" hourFormat="24" [locale]="br" placeholder="Data/hora de fim" dateFormat="dd/mm/yy"></p-calendar>
  <button class="btn btn-primary" type="button" (click)="refresh()">Obter histórico</button>
</div>

<div #historymap class="map-history"></div>
