/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

tracker-main {
  height: 100%;
}
